@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	@apply bg-gray-50 dark:bg-black text-black dark:text-white text-center;
	height: 100vh;
}